@import '../../styles/mixins//mixins.sass'

.searchInput
    &__inputWrapper
        position: relative
        margin-bottom: 4rem
    &__icon
        position: absolute
        top: 1.9rem
        left: 2rem
        width: 2rem
        height: 2rem
        z-index: 2
        cursor: pointer
    &__label
        display: block
        margin-bottom: 1rem
        font-weight: 600
        font-size: 1.6rem
    &__input
        input
            width: 60rem
            @include respond(phoneXL)
                width: 80%
            @include respond(phoneL)
                width: 100%
