.card
    display: flex
.content-block
    display: flex
    flex-direction: column
    min-height: 300px
    &__text
        flex-grow: 1

    // // &__date
    // //     font-size: 14px
    // //     line-height: 150%
    // //     opacity: 0.6
    // //     margin-bottom: 2.5rem
    // //     position: relative
    // //     padding-left: 2.2rem
    //     &::before
    //         content: ''
    //         background: url('../../imgs/date.png') no-repeat center
    //         position: absolute
    //         top: 15%
    //         left: 0
    //         width: 1.3rem
    //         height: 1.3rem
    //         opacity: 1
    // &__title
    //     font-size: 24px
    //     line-height: 29px
    //     margin-bottom: 2rem
    // &__desc
    //     font-size: 16px
    //     line-height: 150%
    //     margin-bottom: 2rem
    // &__highlighted
    //     background: yellow
